/* reset css */
* {
    min-width: 0;
    font: inherit;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  img,
  video,
  svg {
    display: block;
    height: auto;
    max-width: 100%;
  }
  
  body {
    margin: 0;
    min-height: 100dvh;
  }
  
  body {
    background-color: #a1a4ab;
    background-image: url(3.jpeg);
    background-size: cover;
    background-position: center;
  }
  
  main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container-letter {
    position: relative;
  }
  
  .cover {
    position: absolute;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-top: 100px solid #1c4c96;
    border-bottom: 100px solid transparent;
    transition: transform .75s;
    transform-origin: top;
  }
  
  .paper {
    position: absolute;
    padding: 1.5rem;
    line-height: 2rem;
    right: 5px;
    z-index: -1;
    background: white;
    width: 390px;
    height: 180px;
    transition: all .75s;
    opacity: 0;
    visibility: hidden;
    overflow:auto;
    height: 351px;
    overflow-y: auto;

  }
  
  .letter {
    border-left: 200px solid #607ec9;
    border-right: 200px solid #607ec9;
    border-top: 100px solid transparent;
    border-bottom: 100px solid #9ab4ff;
  }
  
  .options {
    display: flex;
    gap: 5rem;
  }
  
  button {
    color: #fefefe;
    font-weight: 600;
    border-radius: 3px;
    background: #062863;
    padding: 0.5rem 1rem;

    cursor: pointer;
  }
  
  button:hover {
    background:#000035;
    color: white;
  }
  
  .open-cover {
    transform: rotatex(180deg);
  }
  
  .open-paper {
    animation: openPaper 1.8s forwards;
    opacity: 1;
    z-index: 1;
    visibility: visible;
  }
  
  @keyframes openPaper {
    0% {
      top: 0;
    }
    100% {
      top: -120px;
    }
  }
  
  .close-paper {
    animation: closePaper .5s forwards;
    opacity: 0;
    visibility: hidden;
  }
  
  @keyframes closePaper {
    0% {
      top: -120px;
    }
    100% {
      top: 0;
    }
  }
  
  .heart {
    display: none;
    position: absolute;
    top: 25%;
    left: 46.5%;
    margin: auto;
    font-size: 3rem;
    color: #dae01a;
    border: #000035;
    animation: crecer 1s forwards;
  }
  
  @keyframes crecer {
    0% {
      scale: 1;
      opacity: 1;
    }
    100% {
      scale: 3;
      opacity: 0;
    }
  }
  